<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pubHead.css">
</head>
<style>
    .card{
        margin: 10px;
    }
</style>
<body>
<div class="row" th:insert="pub::pubHead"></div>
<div class="container-fluid">
<!--    顶部导航-->
    <div class="row">
        <ul class="nav bg-light justify-content-end" style="background-color:rgba(255,255,255,0)">
            <li class="nav-item" href="">
                <a href="#" class="nav-link">temp1</a>
            </li>
            <li class="nav-item" href="">
                <a href="#" class="nav-link">temp2</a>
            </li>
            <li class="nav-item" href="">
                <a href="#" class="nav-link">temp3</a>
            </li>
        </ul>
    </div>
<!--    侧边栏-->
    <div class="row" >
        <div class="col-md-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="school" onclick="getContents(this.id)">学院</button>
                </li>
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="teacher" onclick="getContents(this.id)">教职工</button>
                </li>
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="major" onclick="getContents(this.id)">专业</button>
                </li>
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="course" onclick="getContents(this.id)">课程</button>
                </li>
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="t_class" onclick="getContents(this.id)">教学班</button>
                </li>
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="student" onclick="getContents(this.id)">学生</button>
                </li>
            </ul>
        </div>
<!--    内容部分-->
        <div class="col-md-9 offset-md-1">
            <div class="row" id="contents"></div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>