<!DOCTYPE html>
<html lang="en"
    xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/layui/css/layui.css" >
    <link rel="stylesheet" href="../static/css/login.css" >
    <title>登录</title>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md6 info-box">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam veritatis rerum expedita, inventore soluta at totam. Ullam, quam libero dolore fugit, officia temporibus provident recusandae aliquid aut vero velit modi!
            </div>
            <div class="layui-col-md3 layui-col-sm-12 layui-col-md-offset3 loginbox">
                <div class="layui-panel">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, eius. A rerum incidunt aliquid voluptates ducimus animi cupiditate, esse expedita, excepturi, accusamus facilis nemo dolorem assumenda sit laudantium vel eaque?
                </div>
            </div>
        </div>
    </div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/layui/layui.js"></script>
</body>
</html>