<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <link rel="stylesheet" href="/css/login.css">
    <title>登录</title>
</head>
<body id="bg">
    <div class="container">
        <div class="layui-row loginfo" >
                <div class="layui-col-md4 layui-col-md-offset1">
                    <div class="layui-panel layui-anim layui-anim-down message" style="padding: 100px">
                        <span>问题不在于我们活多久</span><br><br>
                        <span>而在于我们做多少事</span>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-md-offset3 layui-card card">
                    <div class="layui-card-header card-header">
                        <div style="margin: 20px">
                            <h2>登录</h2>
                        </div>
                    </div>
                    <div class="layui-card-body card">
                        <form  method="post" class="layui-form " id="myForm">
                            <div class="layui-form-item">
                                <label for="userid" class="layui-form-label" ></label>
                                <input type="text" required lay-verify="required" placeholder="用户名" class="layui-input" id="userid" name="userid">
                            </div>
                            <div class="layui-form-item">
                                <label for="passwd" class="layui-form-label"></label>
                                <input type="password" required lay-verify="required" placeholder="密码" class="layui-input" id="passwd" name="passwd">
                            </div>
                            <div class="layui-form-item" >
                                <label for="remember" class="layui-form-label"></label>
                                <input type="radio" name="remember" id="remember" lay-skin="primary" value="true" title="下次自动登录" style="float: left">
                            </div>
                            <hr>
                            <div class="layui-form-item">
                                <label  class="layui-form-label">登录身份</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="identity" value="teacher" title="教职工">
                                    <input type="radio" name="identity" value="student" title="学生" checked>
                                    <input type="radio" name="identity" title="admin" value="admin">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-fluid layui-submit" >登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    // $("#close").click(function(){
    //     document.getElementById("info_box").style.visibility="hidden"
    // })
    // layui.use('form',function (){
    //     let form = layui.form;
    //
    // })
</script>
</body>
</html>