<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>teacher</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
</style>
<body>
<div class="container">
    <div class="row myHeader" >
        <div class="head_nav" >
            <div class="logo_content">
                <div class="logo_box">
                    <img src="/img/citu_nav_logo.png" class="logo_img" alt="">
                    <span>课程中心</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!--    顶部导航-->
    <div class="row">
        <ul class="nav bg-light justify-content-end">
            <li class="nav-item" href="">
                <a href="#" class="nav-link">temp1</a>
            </li>
            <li class="nav-item" href="">
                <a href="#" class="nav-link">temp2</a>
            </li>
            <li class="nav-item" href="">
                <a href="/login/logout" class="nav-link">注销登录</a>
            </li>
        </ul>
    </div>
    <!--    侧边栏-->
    <div class="row" >
        <div class="col-md-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="t_class">教授班级</button>
                </li>
                <li class="list-group-item d-grid">
                    <button class="btn btn-block" id="task" onclick="getContents(this.id)">作业管理</button>
                </li>
            </ul>
        </div>
        <!--    内容部分-->
        <div class="col-md-9 offset-md-1">
            <div class="row" >
                <table class="table" id="contents">
                    <thead id="theadParent">
                    </thead>
                    <tbody id="tbodyParent">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/teacher.js"></script>
</body>
</html>