<!DOCTYPE html>
<html lang="zh"
    xmlns:th="http:///www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>teacher</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pubHead.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div id="pub" th:insert="/pub::pubHead"></div>
<div class="container-fluid">
    <!--    顶部导航-->
    <div class="row">
        <ul class="nav bg-light justify-content-end">
            <li class="nav-item" href="">
                <a href="/task/new" class="nav-link">发布新作业</a>
            </li>
            <li class="nav-item" href="">
                <a href="/teacher/info" class="nav-link">个人中心</a>
            </li>
            <li class="nav-item" href="">
                <a href="/login/logout" class="nav-link">注销登录</a>
            </li>
        </ul>
    </div>
    <!--    侧边栏-->
    <div class="row" >
        <div class="col-md-2">
            <div class="layui-panel">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-grid">
                        <button class="btn btn-block" id="t_class" onclick="getAllTClass()">教授班级</button>
                    </li>
                    <li class="list-group-item d-grid">
                        <button class="btn btn-block" id="task" onclick="getAllTask()">作业管理</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--    内容部分-->
        <div class="col-md-10">
            <div class="row" >
                <div class="layui-panel">
                    <table class="table table-striped" id="contents">
                        <thead id="tHeadParent">
                        </thead>
                        <tbody id="tBodyParent">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/teacher.js"></script>
<script>
    // $("#pub").load("/pub.html");
</script>
</body>
</html>